name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
  schedule:
    - cron: '59/2 * * * *'
env:
  GHE_TOKEN: ${{ secrets.GHE_TOKEN }}
  
jobs:
  build:
    name: Trigger Site Rebuild
    runs-on: ubuntu-latest
    steps:
      - name: Create new repo
        run: |
          chmod +x ./script.sh
          ./script.sh ${{ env.GA_SECRET }}
        shell: bash
      
